Stroke Prediction - Kaggle
https://www.kaggle.com/datasets/fedesoriano/stroke-prediction-dataset

In [1]:
import pandas as pd
import numpy as np

In [2]:
stroke_ds = pd.read_csv('./dataset/healthcare-dataset-stroke-data.csv')

In [6]:
stroke_ds.head(5)

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

In [4]:
stroke_ds.describe()

,id,age,hypertension,heart_disease,avg_glucose_level,bmi,stroke
count,5110.000000,5110.000000,5110.000000,5110.000000,5110.000000,4909.000000,5110.000000
mean,36517.829354,43.226614,0.097456,0.054012,106.147677,28.893237,0.048728
std,21161.721625,22.612647,0.296607,0.226063,45.283560,7.854067,0.215320
min,67.000000,0.080000,0.000000,0.000000,55.120000,10.300000,0.000000
25%,17741.250000,25.000000,0.000000,0.000000,77.245000,23.500000,0.000000
50%,36932.000000,45.000000,0.000000,0.000000,91.885000,28.100000,0.000000
75%,54682.000000,61.000000,0.000000,0.000000,114.090000,33.100000,0.000000
max,72940.000000,82.000000,1.000000,1.000000,271.740000,97.600000,1.000000

In [15]:
stroke_ds.groupby(['stroke'])['stroke'].count()

stroke
0    4861
1     249
Name: stroke, dtype: int64

In [16]:
stroke_ds_zero, stroke_ds_one = [x for _, x in stroke_ds.groupby(stroke_ds['stroke'])]

In [21]:
stroke_ds_one['stroke'].count()

249

In [22]:
stroke_ds_zero['stroke'].count()

4861

In [39]:
stroke_ds_zero_fraction = stroke_ds_zero.sample(frac=0.0512, random_state=1)

In [46]:
stroke_ds_zero_fraction.stroke.count()

249

In [64]:
# concatenating and shuffling dataframe
stroke_ds_new = pd.concat([stroke_ds_one, stroke_ds_zero_fraction]).sample(frac=1)

In [65]:
stroke_ds_new.stroke.count()

498

In [66]:
pd.isna(stroke_ds_new)

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
563,False,False,False,False,False,False,False,False,False,False,False,False
201,False,False,False,False,False,False,False,False,False,False,False,False
3511,False,False,False,False,False,False,False,False,False,False,False,False
1309,False,False,False,False,False,False,False,False,False,False,False,False
449,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
4193,False,False,False,False,False,False,False,False,False,False,False,False
2314,False,False,False,False,False,False,False,False,False,False,False,False
126,False,False,False,False,False,False,False,False,False,True,False,False
2842,False,False,False,False,False,False,False,False,False,False,False,False
2885,False,False,False,False,False,False,False,False,False,False,False,False

In [67]:
stroke_ds_new.isna().values.any()

True

In [68]:
stroke_ds_new[stroke_ds_new.columns[stroke_ds_new.isna().any()]]

       bmi
563   35.8
201   31.5
3511  20.3
1309  32.2
449   31.0
...    ...
4193  25.1
2314  24.7
126    NaN
2842  28.4
2885  24.0

[498 rows x 1 columns]

In [69]:
stroke_ds_new.bmi = stroke_ds_new.bmi.fillna(stroke_ds_new.bmi.mean())

In [70]:
stroke_ds_new.isna().values.any()

False

In [71]:
stroke_ds_new[stroke_ds_new.columns[stroke_ds_new.isna().any()]]

Empty DataFrame
Columns: []
Index: [563, 201, 3511, 1309, 449, 3910, 121, 55, 149, 84, 3965, 4857, 175, 246, 4330, 46, 1496, 29, 894, 98, 137, 196, 99, 849, 120, 4602, 117, 194, 497, 1833, 1744, 49, 173, 3381, 1513, 76, 2177, 133, 3053, 2828, 108, 51, 92, 3391, 67, 2103, 4272, 2519, 18, 118, 1495, 4737, 14, 2631, 28, 1972, 1900, 1434, 211, 33, 159, 1550, 158, 1809, 115, 1869, 1207, 1484, 2212, 172, 95, 134, 248, 203, 4095, 4419, 1257, 4368, 3747, 209, 5042, 4569, 44, 156, 2598, 167, 238, 176, 3622, 2511, 87, 3107, 4862, 4228, 306, 25, 38, 3545, 221, 3230, ...]

[498 rows x 0 columns]

In [72]:
stroke_ds_new.head(5)

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
563,47811,Female,72.0,0,0,Yes,Self-employed,Urban,239.82,35.8,never smoked,0
201,68627,Male,80.0,1,1,Yes,Private,Urban,175.29,31.5,formerly smoked,1
3511,62983,Female,26.0,0,0,Yes,Private,Urban,138.02,20.3,smokes,0
1309,22001,Male,80.0,0,1,Yes,Govt_job,Rural,181.23,32.2,formerly smoked,0
449,15689,Male,42.0,0,0,Yes,Govt_job,Urban,68.19,31.0,never smoked,0

In [73]:
stroke_ds_new.info()

<class 'pandas.core.frame.DataFrame'>
Index: 498 entries, 563 to 2885
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 498 non-null    int64
 1   gender             498 non-null    object
 2   age                498 non-null    float64
 3   hypertension       498 non-null    int64
 4   heart_disease      498 non-null    int64
 5   ever_married       498 non-null    object
 6   work_type          498 non-null    object
 7   Residence_type     498 non-null    object
 8   avg_glucose_level  498 non-null    float64
 9   bmi                498 non-null    float64
 10  smoking_status     498 non-null    object
 11  stroke             498 non-null    int64
dtypes: float64(3), int64(4), object(5)
memory usage: 50.6+ KB

In [74]:
stroke_ds_new.drop(['id'],axis=1,inplace = True)

In [75]:
stroke_ds_new.head(5)

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
563,Female,72.0,0,0,Yes,Self-employed,Urban,239.82,35.8,never smoked,0
201,Male,80.0,1,1,Yes,Private,Urban,175.29,31.5,formerly smoked,1
3511,Female,26.0,0,0,Yes,Private,Urban,138.02,20.3,smokes,0
1309,Male,80.0,0,1,Yes,Govt_job,Rural,181.23,32.2,formerly smoked,0
449,Male,42.0,0,0,Yes,Govt_job,Urban,68.19,31.0,never smoked,0

In [76]:
stroke_ds_new.drop_duplicates(inplace=True)

In [77]:
from sklearn.preprocessing import LabelEncoder

In [78]:
le = LabelEncoder()
cols = ['gender', 'ever_married', 'work_type', 'Residence_type', 'smoking_status']
stroke_ds_new[cols] = stroke_ds_new[cols].apply(le.fit_transform)

In [79]:
stroke_ds_new.head(5)

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
563,0,72.0,0,0,1,3,1,239.82,35.8,2,0
201,1,80.0,1,1,1,2,1,175.29,31.5,1,1
3511,0,26.0,0,0,1,2,1,138.02,20.3,3,0
1309,1,80.0,0,1,1,0,0,181.23,32.2,1,0
449,1,42.0,0,0,1,0,1,68.19,31.0,2,0

In [80]:
dependent_var = stroke_ds_new.drop('stroke', axis=1)
independent_var = stroke_ds_new.stroke

In [83]:
from sklearn.model_selection import train_test_split

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(dependent_var, independent_var, test_size=0.3, random_state=42)